.receita1,.receita2,.receita3{
    position: relative;
    height: auto;
    margin: 10px;
    display: inline-block;
    width: 160px;
    box-sizing: content-box;
}

h5{
    margin-top: 0;
    font-size: small;
    color: rgb(136, 135, 135);
}

p{
    
    color: darkcyan;
    font-size: medium;
}